<template name="header">
    <nav class="black">
        <div class="nav-wrapper">
            <a href="{{pathFor 'catalogo'}}" class="brand-logo"><img src="/images/brand.png" alt="logomarca"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>

            <ul class="right hide-on-med-and-down">
                <li><a href="{{pathFor 'catalogo'}}">Catálogo</a></li>
                <li><a href="{{pathFor 'adiciona'}}">Planetas</a></li>
                <li><a href="{{pathFor 'sobre'}}">Sobre</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{pathFor 'catalogo'}}">Catálogo</a></li>
                <li><a href="{{pathFor 'adiciona'}}">Planetas</a></li>
                <li><a href="{{pathFor 'sobre'}}">Sobre</a></li>
            </ul>
        </div>
    </nav>

    <script charset="utf-8">
        $(".button-collapse").sideNav();
    </script>
</template>
